<footer id="footer">
  <div class="footer-inner">
    <div class="legal-logo">
      <a href="#above-the-fold"><img src="./assets/img/logo.png"></a>
      <a routerLink="/imprint" class="legal-link legal-desktop">Legal Notice</a>
    </div>
    <div class="copyright">
      <p>© Adrian Kleinschmidt 2025</p>
    </div>
    <div class="socials">
      <a href="https://github.com/kleinschmidta" target="_blank"><img src="./assets/img/github.png"></a>
      <a href="#contact"><img src="./assets/img/mail.png"></a>
    </div>
    <a routerLink="/imprint" class="legal-link legal-mobile">Legal Notice</a>
  </div>
</footer>