<div class="atf-outer-wrapper">
    <section id="above-the-fold">
        <img class="left" src="./assets/img/shadow-atf-purple.png">
        <img class="right" src="./assets/img/shadow-atf-blue.png">
        <div class="atf-header">
            <span>{{ 'atf.intro' | translate }}</span>
            <div class="atf-headline">
                <h1>Adrian Kleinschmidt</h1>
                <h2>Frontend {{ 'atf.headline' | translate }}</h2>
            </div>
        </div>
        <a href="#contact"><button class="regular-btn">{{ 'atf.button' | translate }}</button></a>
        <div class="socials">
            <div class="line"></div>
            <div class="icons">
                <a href="https://github.com/kleinschmidta" target="_blank">
                    <img src="./assets/img/github.png" />
                </a>
                <a href="#contact">
                    <img src="./assets/img/mail.png" />
                </a>
            </div>
        </div>
        <p id="scroll-btn" data-aos="fade-up">{{ 'atf.vertical' | translate }} &#8594;</p>

    </section>
</div>